* {
    font-family: 'DM Sans', sans-serif;
}

:root {
    /*Colores*/
    --white: #fff;
    --green-gray-100: #F3F7F6;
    --green-gray-200: #D8DEDA;
    --gray-800: #373737;
    --gray-900: #000;
    --green-200: #CED7A4;
    --green-900: #072929;
}

/*navbar*/
.navbar{
    padding: 16px !important;
}

.bg-body-tertiary {
    --bs-bg-opacity: 0 !important;
}

.navbar .container-fluid{
    padding: 0.5rem 0.75rem;
    border-radius: 16px;
    background-color: var(--green-gray-100);
}

.navbar .navbar-brand{
    width: 50%;
}

.navbar .navbar-brand img{
    width: 100%;
}

.navbar .container-fluid .navbar-toggler{
    padding: 0;
    border: none;
}

#heroimage .content-heroimage{
    padding-top: 6.25rem;
    background-color: var(--green-200);
}

#heroimage .content-heroimage .heroimage-title {
    margin-bottom: 1.5rem;
    color: var(--green-900)
}

#heroimage .content-heroimage .heroimage-title h1{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

#heroimage .content-heroimage .heroimage-title p{
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
}

#heroimage .content-heroimage .heroimage-title .btn-primary{
    font-size: 1.125rem;
    font-weight: 500;
    background-color: var(--green-900);
    border: none;
    color: var(--white);
    padding: 16px 24px;
}

#heroimage .content-heroimage .heroimage-list-group{
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
    font-size: 1.125rem;
}

#heroimage .content-heroimage .heroimage-list-group .list-group-item img{
    margin-bottom: 1rem;
}

#heroimage .content-heroimage picture img{
    width: 100%;
}

/*service*/
#neuro-service {
    padding: 1rem;
}

#neuro-service .neuro-service-container{
    background-color: var(--green-gray-100);
    border-radius: 1.5rem;
    border: 1px solid var(--green-900);
    margin-bottom: 1.5rem;
    padding: 0;
}

#neuro-service .neuro-service-container picture img{
    width: 100%;
    border-radius: 24px 24px 0 0;
}

#neuro-service .neuro-service-container .neuro-service-info{
    padding: 1rem;
}

#neuro-service .neuro-service-container .neuro-service-info .neuro-service-title small{
    font-weight: bold;
    color: var(--green-900);
}

#neuro-service .neuro-service-container .neuro-service-info h2{
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--green-900);
}

#neuro-service .neuro-service-container .neuro-service-info p{
    color: var(--gray-800);
}

#neuro-service .neuro-service-container .neuro-service-info .list-group-item{
    font-size: 0.875rem;
    background-color: var(--green-gray-100);
    border: none;
    padding: 0;
    margin-bottom: 1rem;
}

