* {
    font-family: 'DM Sans', sans-serif;
}

:root {
    /*Colores*/
    --white: #fff;
    --green-gray-100: #F3F7F6;
    --green-gray-200: #D8DEDA;
    --gray-800: #373737;
    --gray-900: #000;
    --green-200: #CED7A4;
    --green-900: #072929;
}

/*navbar*/
.navbar {
    padding: 16px !important;
}

.bg-body-tertiary {
    --bs-bg-opacity: 0 !important;
}

.navbar .container-fluid {
    padding: 0.5rem 0.75rem;
    border-radius: 16px;
    background-color: var(--green-gray-100);
}

.navbar .navbar-brand {
    width: 50%;
}

.navbar .navbar-brand img {
    width: 100%;
}

.navbar .container-fluid .navbar-toggler {
    padding: 0;
    border: none;
}

/*hero image*/
#heroimage .content-heroimage {
    padding-top: 6.25rem;
    background-color: var(--green-200);
}

#heroimage .content-heroimage .heroimage-title {
    margin-bottom: 1.5rem;
    color: var(--green-900)
}

#heroimage .content-heroimage .heroimage-title h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

#heroimage .content-heroimage .heroimage-title p {
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
}

#heroimage .content-heroimage .heroimage-title .btn-primary {
    width: 100%;
    font-size: 1.125rem;
    font-weight: 500;
    background-color: var(--green-900);
    border: none;
    color: var(--white);
    padding: 16px 24px;
}

#heroimage .content-heroimage .heroimage-title .btn-primary img {
    margin-left: 8px;
}


#heroimage .content-heroimage .heroimage-list-group {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
    font-size: 1.125rem;
}

#heroimage .content-heroimage .heroimage-list-group .list-group-item img {
    margin-bottom: 1rem;
}

#heroimage .content-heroimage picture img {
    width: 100%;
    border-radius: 1.5rem 1.5rem 0 0;
}

/*service*/
#neuro-service {
    padding: 1rem;
}

#neuro-service .neuro-service-container {
    background-color: var(--green-gray-100);
    border-radius: 1.5rem;
    border: 1px solid var(--green-900);
    margin-bottom: 1.5rem;
    padding: 0;
}

#neuro-service .neuro-service-container picture img {
    width: 100%;
    border-radius: 24px 24px 0 0;
}

#neuro-service .neuro-service-container .neuro-service-info {
    padding: 1rem;
}

#neuro-service .neuro-service-container .neuro-service-info .neuro-service-title small {
    font-weight: bold;
    color: var(--green-900);
}

#neuro-service .neuro-service-container .neuro-service-info h2 {
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--green-900);
}

#neuro-service .neuro-service-container .neuro-service-info p {
    color: var(--gray-800);
}

#neuro-service .neuro-service-container .neuro-service-info .list-group-item {
    font-size: 0.875rem;
    background-color: var(--green-gray-100);
    border: none;
    padding: 0;
    margin-bottom: 1rem;
}

/*benefits*/
#benfits .benfits-title small {
    font-weight: bold;
    color: var(--green-900);
}

#benfits .benfits-title h2 {
    font-weight: bold;
    color: var(--green-900);
}

#benfits .benfits-title p {
    color: var(--gray-800);
}

#benfits .benfits-grid {
    padding: 0 1rem 0 1rem;
}

#benfits .benfits-grid .card {
    background-color: var(--green-gray-100);
    border: 1px solid var(--green-gray-200);
    border-radius: 24px;
    margin-bottom: 1rem;
}

#benfits .benfits-grid .card .card-body {
    color: var(--gray-800);
    padding: 1.5rem;
}

#benfits .benfits-grid .card .card-body h3 {
    margin-bottom: 1rem;
}

#benfits .benfits-grid img {
    border-radius: 0 0 24px 24px;
}

#benfits .benfits-cta {
    padding: 1rem;
    text-align: center;
}

#benfits .benfits-cta h2 {
    color: var(--gray-800);
    margin-bottom: 1rem;
}

#benfits .benfits-cta .list-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

#benfits .benfits-cta .list-group .list-group-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 1.5rem;
    padding: 0;
    border: none;
}

#benfits .benfits-cta .btn-primary {
    font-size: 1.125rem;
    font-weight: 500;
    background-color: var(--green-900);
    border: none;
    color: var(--white);
    padding: 16px 24px;
}

#benfits .benfits-cta .btn-primary img {
    margin-left: 8px;
}

/*testimonials*/
#testimonials {
    padding: 1rem;
}

#testimonials .testimonials-body {
    background-color: var(--green-200);
    border-radius: 24px;
    border: 1px solid var(--green-gray-200);
    padding: 1rem;
}

#testimonials .testimonials-body .body-title small {
    font-weight: bold;
    color: var(--green-900);
}

#testimonials .testimonials-body .body-title h2 {
    font-weight: bold;
    color: var(--green-900);
    margin-bottom: 1.5rem;
}

#testimonials .testimonials-body .body-grid .card {
    background-color: var(--green-900);
    color: var(--white);
    margin-bottom: 1.5rem;
}

#testimonials .testimonials-body .body-grid .card .card-body h6 {
    margin-bottom: 1rem;
}

#testimonials .testimonials-body .body-grid .card .card-body p {
    font-weight: 300;
}

#testimonials .testimonials-body .body-grid .card .card-patient {
    padding: 0 1rem 0 1rem;
}

#testimonials .testimonials-body .body-grid .card .card-patient img {
    width: 25%;
    margin: 0 0 1rem 0;
}

#testimonials .testimonials-body .body-grid .card .card-patient blockquote {
    margin: 0 0 0.5rem 0
}

#testimonials .testimonials-body .body-grid .card .card-patient .blockquote-footer {
    color: var(--green-gray-200);
    margin-top: 0;
}

#testimonials .testimonials-body .body-list-group .list-group-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--green-200);
    border: none;
    padding: 0.5rem 0 0.5rem 0;
}

#testimonials .testimonials-body .body-list-group .list-group-item h6 {
    color: var(--green-900);
}

/*FAQ*/
#faq .faq-body {
    display: flex;
    flex-direction: column;
}

#faq .faq-body .body-img {
    width: 100%;
    margin-bottom: 1.5rem;
    background-color: var(--green-gray-100);
    border: 1px solid var(--green-gray-200);
    border-radius: 1.5rem;
}

#faq .faq-body .body-img img {
    width: 100%;
    border-radius: 1.5rem;
}

#faq .faq-body .accordion .accordion-title h2 {
    font-weight: bold;
    color: var(--green-900);
    margin: 0 0 1.5rem 0;
}

#faq .faq-body .accordion .accordion-item {
    border-top: 1px solid var(--green-gray-200);
    border-right: 0;
    border-bottom: 1px solid var(--green-gray-200);
    border-left: 0;
}

#faq .faq-body .accordion .accordion-item .accordion-button {
    font-weight: 600;
    color: var(--green-900);
    padding: 1rem 0 1rem 0;
    border-radius: 0;
}

#faq .faq-body .accordion .accordion-item .accordion-button:not(.collapsed) {
    color: var(--green-900);
    background-color: var(--white);
    box-shadow: none;
}

#faq .faq-body .accordion .accordion-item .accordion-body {
    color: var(--gray-800);
    padding: 0 0 1rem 0;
}

/*contact*/
#contact {
    padding: 1rem;
}

#contact .card {
    background-color: var(--green-900);
    color: var(--white);
    border: none;
}

#contact .card .card-body h2 {
    font-weight: bold;
}

#contact .card .card-body .btn-primary {
    font-size: 1.125rem;
    font-weight: 500;
    background-color: var(--green-200);
    border: none;
    color: var(--green-900);
    padding: 16px 24px;
}

#contact .card .card-body .btn-primary img {
    margin-left: 0.5rem;
}

/*footer*/
#footer {
    padding: 1rem;
    border-top: 1px solid var(--green-gray-200);
}

#footer .footer-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer .footer-body .navbar-brand img{
    width: 100%;
    margin: 0 0 1.5rem 0;
}

#footer .footer-body p{
    text-align: center;
}

/*FAB*/
.fixed-bottom {
    left: auto !important;
}

.fixed-bottom button {
    max-width: 96px;
}

.fixed-bottom button img {
    width: 100%;
}