/* =========================================
   1. DESIGN TOKENS (Variables de Figma)
   ========================================= */
:root {
    /* --- Color Brand --- */
    --color-brand-primary: #072929;

    /* --- Color Action --- */
    --bg-surface-promotional: #DBFF00;

    /* --- Color Surface (Fondos) --- */
    --background-neutro-050: #FFFFFF;
    --background-neutro-100: #F3F7F6;
    --background-neutro-150: #F1F5F4;
    --background-neutro-200: #CED4D0;
    --background-neutro-300: #AEC8BB;
    --background-accent-tonal: #86AE3E;
    --background-accent-subtle: #CED7A4;

    /* --- Color Content (Textos) --- */
    --text-primary: #000000;
    --text-secondary: #49454F;
    --text-on-brand: #ffffff;

    /* --- Tipografías --- */
    --font-principal: 'DM Sans', sans-serif;
    --font-secundaria: 'Handlee', cursive;

    /* =========================================
   2. BOOTSTRAP OVERRIDES (El puente)
   ========================================= */
    --bs-primary: var(--color-brand-primary);
    --bs-body-font-family: 'DM Sans', sans-serif;
    --bs-body-color: var(--text-primary);
    --bs-body-bg: var(--background-neutro-050);
}

/* =========================================
   3. COMPONENTES PERSONALIZADOS
   ========================================= */
/* A. Ajuste del Botón Primary (Oscuro) */
.btn-primary {
    background-color: var(--color-brand-primary);
    color: var(--text-on-brand);
    font-weight: 600;
    padding: .5rem 1rem;
    border-color: var(--color-brand-primary);
    border-radius: .5rem;
    transition: all 0.3s ease;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus {
    background-color: var(--color-brand-primary) !important;
    border-color: var(--color-brand-primary) !important;
    color: var(--text-on-brand) !important;
    filter: brightness(1.3);
}

/* B. boton Secundario */
.btn-promo {
    background-color: var(--bg-surface-promotional);
    color: var(--color-brand-primary);
    font-weight: 700;
    border-color: var(--color-brand-primary);
    border-radius: .5rem;
    transition: all 0.3s ease;
}

.btn-promo:hover,
.btn-promo:focus {
    background-color: var(--bg-surface-promotional);
    border-color: var(--color-brand-primary);
    color: var(--color-brand-primary);
    filter: brightness(0.95);
}

/* C. Tipografía Secundaria */
.font-alt {
    font-family: var(--font-secundaria);
}

/* D. badge */
.badge {
    padding: .5rem 1rem;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 150%;
    color: var(--color-brand-primary);
    background-color: var(--background-neutro-200);
    white-space: normal;
    text-align: start;
    border: 1px solid var(--color-brand-primary);
}

/* =========================================
   4. banner promocional
   ========================================= */

/* --- Header --- */
.header {
    background-color: var(--bg-surface-promotional);
    transition: all 0.3s ease;
    z-index: 1030;
}

.time-box {
    font-weight: 700;
    color: var(--color-brand-primary);
}

/* =========================================
   5. SECCIÓN HERO
   ========================================= */
#hero {
    background-color: var(--background-neutro-100);
}

#hero .discount p:first-child {
    font-size: 1.125rem;
    font-weight: bolder;
    color: var(--color-brand-primary);
}

#hero h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 120%;
    color: var(--color-brand-primary);
}

#hero .price {
    font-size: 1.125rem;
    font-family: var(--font-secundaria);
    color: var(--text-secondary);
    text-decoration: line-through;
}

#hero small {
    color: var(--text-secondary);
}

/* =========================================
   Breakpoints Customizados
   ========================================= */

/* =========================================
   Landscape Phones (608px)
   ========================================= */

@media (min-width: 608px) {}

/* =========================================
    Tablets (768px)
   ========================================= */

@media (min-width: 768px) {}

/* =========================================
    Desktops (992px)
   ========================================= */

@media (min-width: 992px) {}

/* =========================================
    Large Desktops (1200px)
   ========================================= */

@media (min-width: 1200px) {}

/* =========================================
    Larger Desktops (1400px)
   ========================================= */

@media (min-width: 1400px) {
    #hero .discount p:first-child {
        font-size: 1.5rem;
    }

    #hero h1 {
        font-size: 3.75rem;
    }

    #hero .Paragraph {
        font-size: 1.5rem;
    }

    .badge {
        border-radius: 1rem;
    }
}